packer_load.vim
watch_later/
.netrwhist
/emacs/.emacs.d/url/
/emacs/.emacs.d/.cache/
/emacs/.emacs.d/.lsp-session-v1
/emacs/.emacs.d/auto-save-list/
/emacs/.emacs.d/config.el
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/eshell/
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/projectile.cache
/emacs/.emacs.d/recentf
/emacs/.emacs.d/transient/
/nvim/.config/nvim/plugin/
