snippet DbSet "Add DbSet"
		public DbSet<$1> $1s { get; set; }

snippet doc "Add documentation"
		/// <summary>
		/// $1
		/// </summary>
		/// <param name="$2">$3</param>
		/// <returns>$4</returns>
