# Cast component snippet
snippet comp Create component
	{
		"storage": "$1",
		"label": ["$2s", "$2"],
		"nickname": "$3",
		"documentation": "$4",
		"unique": "id",
		"components": [
			["auto", "id"],
		]
	}
