#define bg #181b20
#define fg #9b9081
#define accent #435861

 Xft.dpi: 96

dwm.normbordercolor: fg
dwm.normbgcolor: bg
dwm.normfgcolor: fg
dwm.selbordercolor: accent
dwm.selbgcolor: accent
dwm.selfgcolor: fg

dmenu.normbgcolor: bg
dmenu.normfgcolor: fg
dmenu.selbgcolor: accent
dmenu.selfgcolor: fg

dunst.low-background: bg
dunst.low-foreground: fg
dunst.low-frame: accent

dunst.normal-background: bg
dunst.normal-foreground: fg
dunst.normal-frame: accent

dunst.critical-background: bg
dunst.critical-foreground: fg
dunst.critical-frame: accent

bar.text: fg
bar.icon: #ffffff

! Dracula Xresources palette
/* *.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6 */

! special
*.foreground:   #9b9081
*.background:   #181b20
*.cursorColor:  #9b9081

! black
*.color0:       #353535
*.color8:       #5f5f5f

! red
*.color1:       #744b40
*.color9:       #785850

! green
*.color2:       #6d6137
*.color10:      #6f6749

! yellow
*.color3:       #765636
*.color11:      #776049

! blue
*.color4:       #61564b
*.color12:      #696057

! magenta
*.color5:       #6b4a49
*.color13:      #6f5a59

! cyan
*.color6:       #435861
*.color14:      #525f66

! white
*.color7:       #b3b3b3
*.color15:      #cdcdcd

