#define bg #080B10
#define fg #C9989F
#define accent #4B3246

dwm.normbordercolor: accent
dwm.normbgcolor: bg
dwm.normfgcolor: fg
dwm.selbordercolor: fg
dwm.selbgcolor: accent
dwm.selfgcolor: fg

dmenu.normbgcolor: bg
dmenu.normfgcolor: fg
dmenu.selbgcolor: accent
dmenu.selfgcolor: fg

dunst.low-background: bg
dunst.low-foreground: fg
dunst.low-frame: accent

dunst.normal-background: bg
dunst.normal-foreground: fg
dunst.normal-frame: accent

dunst.critical-background: bg
dunst.critical-foreground: fg
dunst.critical-frame: accent

bar.text: fg
bar.icon: #ffffff